* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(to right top, #02020c, #10121f, #131d31, #132845, #0a3459);
  background-repeat: no-repeat;
  width: 100%;
  min-width: 320px;
  height: hv;
  overflow-x: hidden;
}

.acording {
  display: flex;
  flex-direction: column;
  font-size: 35px;
  color: var(--white);
  margin: 0;
  padding: 0;
}

.navbar-center {
  display: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  flex-direction: row-reverse;
}

.logo {
  display: flex;
  width: 40px;
}

.navbar-right {
  display: none;
}

.btn {
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  transition: all 0.6s ease;
  z-index: 2;
  overflow: hidden;
  border-radius: 25px;
}

.btn-1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-decoration: none;
  background-image: linear-gradient(90deg, #ed4042, #c20bbd, #7940e6, #007dff, #00a3ff, #00c1f9, #40dae6);
  background-size: 300%;
  border-radius: 25px;
  transition: all 0.6s ease;
  z-index: -1;
}

.btn-1:hover::after {
  background-position: 100%;
  filter: blur(15px);
}

.btn-1:hover::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-decoration: none;
  background-image: linear-gradient(90deg, #ed4042, #c20bbd, #7940e6, #007dff, #00a3ff, #00c1f9, #40dae6);
  background-size: 300%;
  border-radius: 25px;
  z-index: -1;
}

.btn-1:hover::before {
  background-position: 100%;
}

/**------------------- Main-article-banner------------------- **/
.article {
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
}
.article .left-main .title-main {
  font-size: 2rem;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-style: italic;
  margin-top: 2rem;
  margin-bottom: 30px;
}
.article .left-main .title-main span {
  color: #40DAE6;
}
.article .left-main .sub-title {
  font-size: 22px;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: regular;
  margin-bottom: 30px;
}
.article .left-main .parragraph {
  font-size: 18px;
  position: relative;
  padding-bottom: 70px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  font-style: regular;
}
.article .left-main .Boton-working {
  justify-content: center;
  margin-bottom: 30px;
}
.article .right-main img {
  width: 90%;
  height: hv;
  border-radius: 90%;
}

/** -------------------Main-Section-banner -------------------**/
.product-section {
  display: flex;
  width: 100%;
  padding-bottom: 70px;
  min-width: 320px;
  padding: 0 20px 40px;
  color: #fff;
}
.product-section .healthcare h2 {
  width: 90%;
  min-width: 288;
  height: auto;
  margin: 0 auto;
  margin-top: 30px;
  /**texto**/
  font-style: regular;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  padding-bottom: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  text-align: center;
}
.product-section .healthcare .product-card {
  position: relative;
  width: 100%;
  min-width: 230px;
  max-width: 400px;
  height: 250px;
  margin: 50px auto 0;
  padding: 10px 15px;
  background-color: rgba(51, 53, 60, 0.2);
  border-radius: 20px;
  margin-bottom: 30px;
}
.product-section .healthcare .product-card .product-image1, .product-section .healthcare .product-card .product-image6, .product-section .healthcare .product-card .product-image5, .product-section .healthcare .product-card .product-image4, .product-section .healthcare .product-card .product-image3, .product-section .healthcare .product-card .product-image2 {
  display: flex;
  width: 90px;
  height: 90px;
  background-color: #D9BF71;
  border-radius: 90px;
  opacity: 100%;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.product-section .healthcare .product-card .product-image1 img, .product-section .healthcare .product-card .product-image6 img, .product-section .healthcare .product-card .product-image5 img, .product-section .healthcare .product-card .product-image4 img, .product-section .healthcare .product-card .product-image3 img, .product-section .healthcare .product-card .product-image2 img {
  width: 40px;
  height: 48px;
}
.product-section .healthcare .product-card .product-image2 {
  background-color: #E68340;
}
.product-section .healthcare .product-card .product-image3 {
  background-color: #ED4042;
}
.product-section .healthcare .product-card .product-image4 {
  background-color: #40A6E6;
}
.product-section .healthcare .product-card .product-image5 {
  background-color: #7940E6;
}
.product-section .healthcare .product-card .product-image6 {
  background-color: #0A3459;
}
.product-section .healthcare .product-card h4 {
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: regular;
}
.product-section .healthcare .product-card p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  font-style: regular;
}
.product-section .healthcare .subtitle-items {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

/**------------------- Section of brands working------------------- **/
.main-brands-container-slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  background-image: linear-gradient(to right top, #40dae6, #00c5ef, #00adf7, #0092f5, #4072e6);
  padding: 0 10px;
}
.main-brands-container-slider .brands-title {
  padding: 20px 0 20px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 1.2rem;
  font-weight: 300px;
  line-height: 1.5rem;
  text-align: center;
}
.main-brands-container-slider .brands-container-slider {
  display: flex;
  height: 250px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  gap: 10px;
}
.main-brands-container-slider .brands-container-slider .brands-container--card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 230px;
  max-width: 300px;
  height: 200px;
  padding: 0 15px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
  padding: 10px;
  margin: 0 5px;
}

footer {
  display: flex;
  width: auto;
  height: 200px;
  display: flex;
  padding: 0 100px;
  color: #fff;
  margin: 100px 0;
  justify-content: space-evenly;
}/*# sourceMappingURL=tablet.css.map */