

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

    $skin: #f6c09c;
    $background: #ed4042;
    $red: #ed2860;
    $dark-red: #680524;
    $black: #00243a;
    $white: #fff;
    $Violet: #7940E6;
    $bluelight: #40A6E6;
    $blueViolet: #4340E6;
    $MainBlue: #4072E6;
    $Aqua: #40DAE6;
    $Orange: #E6B540;
    $blue800: #00507a;
    $font-montserrat: "Montserrat", sans-serif;
    $font-roboto: "Roboto", sans-serif;


  body {
    font-family: $font-roboto;
    background-image: linear-gradient(to right top, #4072e6, #0092f5, #00adf7, #00c5ef, #40dae6);
    height: 100vh;
  }

  
/**Header**/


  nav {
    width: 100%;
    height: 90px;
    display: flex;
    margin-top: 20px;
    justify-content: space-between; 
    align-items: center;
    padding: 0 100px;  
  }

  .acording  
  {
    display: none;    
  }

  .logo{
    width: 40px;
    display: flex;  
  }
  
.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
}
  .navbar-left,
  .navbar-center ul,
  .navbar-right ul {
  margin: 0px;
  display: flex;
  align-items: center;
  }

  .navbar-center ul li a
 {
  color: $blue800;
  margin-left: 20px;
  }

  .navbar-right ul li a {
  color: #1195a9;
  margin-right: 20px;
  padding-bottom: 10px;
  }

  .navbar-center ul li a:hover,
  .navbar-right ul li a:hover {
    color: white;
    border-bottom: 2px solid var(--blueViolet);
    border-radius: 1px;
    padding-bottom: 5px;
  }


.btn {
  position: relative;
  padding: 10px 10px;
  text-decoration: none;
  color: white;
  transition: all 0.6s ease;
  z-index: 2;
  overflow: hidden;
  border-radius: 5px;
}

.btn-1::after {
  content: "" ;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-decoration: none;
  background-image: linear-gradient(90deg, #00243a, #003267, #003e96, #0044c1, #4340e6,#7940e6,#7940e4, #6e40e5, #6240e5, #5440e6, #4340e6);
  background-size: 300%;
  border-radius: 5px;
  transition: all 0.6s ease;
  z-index: -1;
}

.btn-1:hover::after {
  background-position: 100%;
  filter:blur(15px);
}

.btn-1:hover::before {
  content: "" ;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  text-decoration: none;
  background-image: linear-gradient(90deg, #00243a, #003267, #003e96, #0044c1, #4340e6,#7940e6,#7940e4, #6e40e5, #6240e5, #5440e6, #4340e6);
  background-size: 300%;
  border-radius: 5px;
  z-index: -1;
}

.btn-1:hover::before {
  background-position: 100%;
}


@media (max-width: 991px)  {

    body {
      background-image: linear-gradient(to right left, #4072e6, #40dae6);
    }

    .acording {
      display: block;
      font-size: 35px;
      color: var(--white);
      margin: 0;
      padding: 0;
      }
      
    .navbar-center{
    display: none;
    }

    nav {
      display: flex;
      margin-top: 20px;
      width: 100%;
      justify-content: space-between; 
      align-items: center;
      padding: 0 24px; 
      flex-direction: row-reverse 
    }

    .logo{
      display: flex;
      position: relative;
      width: 30px; 
    }
    .navbar-right {
      display: none;
    }
   }


/**Main**/

article {
  display: flex;
  width: auto;
  height: 300px;
  justify-content: space-between; 
  align-items: center;
  position: relative;
  padding: 0 100px;
  color: white;
  background-color: $MainBlue;


  .left-main {
    background-color: $blueViolet;

          .title-main {
            font-size: 50px;
            position: relative;
            justify-content: start;
            align-items: center;
            font-weight: 200;
            font-family: $font-montserrat;
            font-weight: 800;
            font-style: italic;
            
            }
          .sub-title {
              font-size: 16px;
              position: relative;
              justify-content: start;
              align-items: center;
              width: 600px;
              font-family: $font-montserrat;
              font-weight: 300;
              font-style: regular;
              margin-bottom: 30px;
            }
          

  }

  .right-main {
    background-color: $blueViolet;
            img {
               width: 20vw;
               border-radius: 50px;
            }




  }

    
    
}
